<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong> #add Title, remove Post
  <%= @comment.post_id %> #add @post.title, remove @comment.post_id 
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<h2>Comments</h2>  #add to lines 13-23
<div id="comments">
  <% @post.comments.each do |comment| %>
    <%= div_for comment do %>
	<p>
      <strong>Posted<% = time_ago_in_words(comment.created_at) %></strong><br />
	  <% = h(comment.body) %>
	<p>
  <% end >
<% end %>
</div>

<%= form_for([@post, Comment.new]) do |f| %>  # add to lines 25-30
  <p><%= f.label :body, "New Comment" %><br />
  	 <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
